<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Certificate">
    <!-- За да сработи секцията system.webServer/security/access, web сървърът трябва да се настрои.
      За IIS Express в <solution folder>\.vs\config\applicationhost.config се добавя следното:
      <location path="Kontrax.Regux.Portal" overrideMode="Allow">
        <system.webServer>
          <security>
            <access />
          </security>
        </system.webServer>
      </location>
      За IIS същото това се прави през UI по следния начин:
      - отваря се IIS Manager и се избира съответният сайт;
      - в най-долния раздел Management се отваря Configuration Editor;
      - горе вляво се избира Section: system.webServer/security/access;
      - в панела вдясно се натиска Unlock Section.

      В load balanced среда ARR поема логиката по изискване на клиентски сертификат и прихващане не грешките покрай това.
      В този случай тази секция трябва да се премести в web.config файла на ARR сайта, като responseMode="ExecuteURL"
      трябва да се замени с responseMode="Redirect", защото ARR сайтът няма собствен код (контролери и т.н.).
      -->
    <system.webServer>
      <security>
        <access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />
      </security>
    </system.webServer>
  </location>
</configuration>